<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'ad_list' %}">BarterExchangePlatform</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'ad_list' %}">Все объявления</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/javoxirone/barter-exchange-platform" target="_blank">Проект в
                            GitHub <i class="bi bi-box-arrow-up-right"></i></a>
                    </li>
                </ul>
                {% if request.user.is_authenticated %}
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                            {{ request.user.username }}
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'ad_list' %}?is_mine=on">Мои объявления</a></li>
                            <li><a class="dropdown-item" href="{% url 'my_proposals' %}">Мои предложения обмена</a></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Выйти</a></li>
                        </ul>
                    </div>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-link">Войти</a>
                    <a href="{% url 'register' %}" class="btn btn-success">Зарегистрироваться <i
                            class="bi bi-person-plus-fill"></i></a>
                {% endif %}
            </div>
        </div>
    </nav>
</header>